
@font-face {
  font-family: 'QuattrocentoSans';
  src: url('QuattrocentoSans.eot?#iefix') format('embedded-opentype'),  url('QuattrocentoSans.woff') format('woff'), url('QuattrocentoSans.ttf')  format('truetype'), url('QuattrocentoSans.svg#QuattrocentoSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
